<!DOCTYPE html>
<html lang="en">
    <head>

        <meta author="OKWUDIRI JEREMIAH AKUMEFULE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <title><%= title %> | Rides.With.Jerry - Cars for Sale in US & Nigeria</title>
        <meta name="description" content="Explore a wide range of new and used cars for sale in the US and Nigeria at Rides.With.Jerry. Find your ideal vehicle today with expert reviews!">
        <meta name="keywords" content="new cars, used cars, car dealership, buy cars, cars for sale, SUVs, trucks, affordable cars, luxury cars, cars in US, cars in Nigeria, used cars for sale in Porthacourt, Rivers State, new cars in Lekki, Lagos State, affordable cars in Central Area, Abuja, luxury cars for sale in Los Angeles, Bel Air, cars for sale in Nigeria, new cars in US, used cars in Lagos, affordable cars in Abuja, luxury SUVs for sale in Los Angeles, affordable cars in Yenagoa, Bayelsa State, luxury cars for sale in Awka, Anambra State, cars for sale in Umuahia, Abia State, new cars in Jos, Plateau State. cars for sale in Ibadan, Oyo State">
        
        <link rel="shortcut icon" href="gallery/favicon.ico" type="image/x-icon" />

        <script src="https://kit.fontawesome.com/51aa461e93.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="style_message.css" />

        <link rel="canonical" href="https://www.rideswithjerry.com/" />

        <link rel="alternate" hreflang="x-default" href="https://www.rideswithjerry.com/" />

        <script>
            if ('serviceWorker' in navigator) {
              navigator.serviceWorker.register('sw.js')
                .then((registration) => {
                  console.log('Service worker registered:', registration);
                })
                .catch((error) => {
                  console.error('Service worker registration failed:', error);
                });
            }
        </script>

        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Rides with Jerry",
            "description": "Experience the ultimate in transportation services with Rides with Jerry. Our expertly guided tours and personalized transportation solutions are designed to provide unparalleled comfort, convenience, and reliability. Whether you're exploring new destinations or commuting to work, our team is dedicated to delivering exceptional service and ensuring your journey is nothing short of exceptional.",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "Igbo Etche Campus, Rumuolumeni",
              "addressLocality": "Port Harcourt",
              "addressRegion": "Rivers State",
              "postalCode": "504102"
            },
            "telephone": "+2347081065179",
            "email": "ridewithjerry@gmail.com",
              "openingHours": [
                "Mo 00:00-00:00",
                "Tu 00:00-00:00",
                "We 00:00-00:00",
                "Th 00:00-00:00",
                "Fr 00:00-00:00",
                "Sa 00:00-00:00",
                "Su 06:00-00:00"
              ] 
            }
        </script>

        

    </head>
    <body>

        <main id="main">
            <%- include('../partials/top_nav') %>
            

            <!-- mobile nav -->
            <%- include('../partials/mobile_nav') %>

            <!-- wide-screen nav -->
            <%- include('../partials/wide_nav') %>

            <div>
                ({% INDEX_MAIN %})
                
            </div>

            <%- include('../partials/login_prompt') %>

            <%- include('../partials/user_side_nav') %>

            <%- include('../partials/footer_nav') %>

            <%- include('../partials/footer') %>
            
        </main>

        
        <script src="script_main.js"></script>
        <script defer src="script.js"></script>
        <script defer src="password.js"></script>
        <script defer src="search.js"></script>
    </body>
</html>



<!-- THIS CODE HAS INTELLECTUAL PROTECTIONS AND SHOULD NOT BE COPIED OR SOLD WITHOUT ANY LEGAL AGREEMENT WITH THE AUTHOR,
PLEASE TAKE NOTE AND BE GUIDED. -->