<!DOCTYPE html>
<html lang="en">
    <head>

        <meta author="OKWUDIRI JEREMIAH AKUMEFULE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="description" content="Electronic cars store" />
        <meta name="keywords" content="Cars" />

        <title>Rides.With.Jerry</title>
        <link rel="shortcut icon" href="gallery/favicon.ico" type="image/x-icon" />

        <script src="https://kit.fontawesome.com/51aa461e93.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="style_message.css" />

    </head>
    <body>

        <main id="main">
            <p class="f"></p>
            <%- include('../partials/top_nav') %>
            

            <!-- mobile nav -->
            <%- include('../partials/mobile_nav') %>

            <!-- wide-screen nav -->
            <%- include('../partials/wide_nav') %>

            <div>
                ({% INDEX_MAIN %})
                
            </div>

            <%- include('../partials/footer_nav') %>

            <%- include('../partials/footer') %>
            
        </main>

        
        <script defer src="script_main.js"></script>
        <script defer src="script.js"></script>
        <script src="password.js"></script>
        <script src="check.js"></script>
        <script src="search.js"></script>
        <script src="save.js"></script>
    </body>
</html>



<!-- THIS CODE HAS INTELLECTUAL PROTECTIONS AND SHOULD NOT BE COPIED OR SOLD WITHOUT ANY LEGAL AGREEMENT WITH THE AUTHOR,
PLEASE TAKE NOTE AND BE GUIDED. -->